# Auto detect text files and perform LF normalization
* text=auto
*.java linguist-detectable=true
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
